
<h1> Profil utilisateur <h1>

<ul>
    <li> Prénom: <%= @user.first_name %> </li>
    <li> Nom: <%= @user.last_name %> </li>
    <li> Email: <%= @user.email %> </li>
</ul>

<a href="<%=current_user.id%>/edit">Modifie tes données<a/>
